.login-page {
  background: rgb(8, 8, 8);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100vh;
  width: 100%;
}
.login-title {
  padding-top: 50px;
  color: #ff0;
  font-size: xx-large;
  text-transform: uppercase;
  font-family: system-ui;
}
