.login-container {
  --background: black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.login-form {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.input-group {
  margin-bottom: 30px;
}

.custom-label {
  color: rgb(244, 248, 34);
  margin-bottom: 5px;
}

.custom-input {
  --color: rgb(245, 245, 245);
  --placeholder-color: rgb(250, 250, 250);
  --background: transparent;
  --border-color: rgb(250, 250, 247);
  border-bottom: 2px solid yellow;
}

.custom-button {
  --background: yellow;
  --color: black;
  font-weight: bold;
  margin-top: 30px;
}
.custom-button .button:host(.button-block) .button-native::after {
  padding: 30px !important;
  border-radius: 20px;
}

.custom-button:hover {
  --background: #ffc107;
}
